<div class="row">





    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Point</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td><span class="badge">42</span></td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td><span class="badge">42</span></td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td><span class="badge">42</span></td>
            </tr>
        </tbody>
    </table>


</div>