<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" routerLink="/myparis">
              Beezen
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/myparis">Mes Paris</a></li>
                <li routerLinkActive="active"><a routerLink="/ruleGame">Réglement</a></li>
                <li dropdown>
                    <a dropdownToggle class="dropdown-toggle" role="button">Gestion utilisateur <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li routerLinkActive="active"><a routerLink="/myprofil">Gestion utilisateur</a></li>
                        <li routerLinkActive="active"><a routerLink="/ranking">Classement</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li dropdown>
                    <a dropdownToggle class="dropdown-toggle" role="button"><i class="glyphicon glyphicon-user"></i> Ben Ouezdou Ahmed <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li routerLinkActive="active"><a routerLink="/myprofil">Mon profil</a></li>
                        <li><a routerLink="/myparis">Déconnecter <i class="glyphicon glyphicon-off"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>